*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
}


.container{

  width: 100vw;
  height: 100vh;
}

.wrapper{

  width: 1300px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{

  text-align: center;
  margin: 20px 0;
  color: darkred;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.under-header{

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.under-header > *{

  margin: 20px;
}

.under-header > h1{

  height:50px;
  text-align: center;
  line-height: 50px;
}


button{

  width: 150px;
  height: 50px;
  font-size: 17px;
}

.days-container{


  width: 1050px;
}

#month-name{

  text-align: center;
  margin:auto;
  margin-bottom: 20px;
  font-size:30px;
}

#day-list{

  font-size: 17px;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

#day{

  width: 150px;
  height:100px;
  padding: 10px;
  border:1px solid #C9C9C9;
  line-height: 25px;
}


.holiday{

  background-color: rgba(201,0,0,0.66);
  font-weight: bold;


}
